img {
  filter: contrast(150%) grayscale(50%);
}

button {
  background: darkred;
  color: white;
  border: none;
  padding: 10px;
  transition: transform 0.2s ease;
}

button:hover {
  background: red;
  transform: scale(1.05);
}



h1, h2, h3 {
  font-family: 'impact';
  letter-spacing: 5px;
  text-transform: uppercase;
}

body {
  font-family: 'Courier New', monospace, bold;
}

 nav {
            background-color: #A00000;
            padding: 10px;
            border-radius: 4px;
        }

        
        .nav-list {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
            justify-content: space-around;
        }

       
        .nav-list a {
            color: white;
            text-decoration: none;
            font-family: book-antiqua;
            padding: 8px 15px;
            transition: transform 0.3s ease, background-color 0.3s ease;
            display: inline-block    
          }

        .nav-list a:hover {
            
            transform: scale(1.2);
            background-color: #7e0202;
            border-radius: 2px;
             box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        }
 

.cabecalho {
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 250px;           
}

.logo {
    max-height: 100%;        

}
    .bloco-marrom {
    background-color: #5D2800; 
    color: white;               
     
    text-decoration: none;
      width: fit-content; 
    padding: 20px;             
    text-align: center;  
    border-radius: 8px;
    margin-left: auto;
  margin-right: auto;
   /* O bloco "abraça" o tamanho do texto */
  min-width: 800px;      /* Ou defina uma largura fixa se preferir */

  
}

.bloco-catalogo {
    
    color: rgb(255, 5, 5);
    border: #A00000 solid 1px;              
     
    text-decoration: none;
      width: fit-content; 
    padding: 20px;             
    text-align: left;  
    border-radius: 8px;
    margin-left: auto;
  margin-right: auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
   /* O bloco "abraça" o tamanho do texto */
      /* Ou defina uma largura fixa se preferir */

  
}

.bloco-vermeio {
    background-color: #3d0101; 
    color: white;               
    
    text-decoration: none;
    border-radius: 8px;
   
    
    padding: 20px;             
    text-align: left;       
        
    margin: 10px; 
}

.bloco-vermeio2 {
    background-color: #000000; 
    color: white;               
    
    text-decoration: none;
    text-align: center;
}


 .galeria{
     display: flex;
     justify-content: center;
     color: white;               
     
 }  
 
 .albunscatalogo{
width: 300px;
height: 300px;
color:white;
 }
.albunscatalogo:hover{
transition: transform 0.3s ease;
transform: scale(1.0180);
 box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
 }
  .capacarai{
width: 400px;
height: 400px;
color:white;
border-radius:8px;             
border: black solid 1px;             




 }

 .linkskaiowas{

color: #ffe0e0; 
text-decoration: none; 
font-weight: bold;

 }
    
  .bordatexto{
  font-family: "bignoodletitling", sans-serif;
    color:#FF0214;
    font-size:30px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
  }
  

  .flyer{
    border: 2px solid black;
    border-radius: 4px;

    height: 300px;
    width: 225px;
  }
  
  

  @font-face {
    font-family: "bignoodletitling"; 
    src:url(fonts/BigNoodleTitling.ttf);
    format:'trutype';
    font-weight: normal;
    font-style: normal;
  }

  .titulospagina{
font-style: bold;
color: white;
text-align: center;
background-color: #3d0101;
padding: 2px;
 text-decoration: none;
      width: fit-content;            
    text-align: center;  
    border-radius: 4px;
    margin-left: auto;
  margin-right: auto;
   /* O bloco "abraça" o tamanho do texto */
      /* Ou defina uma largura fixa se preferir */


  }